<div class="hidden md:flex w-full items-center justify-between px-10 bg-[#571108]/96 backdrop-blur-md text-gray-50">
  <div class="w-[75%] flex py-2 justify-around items-center">
    <img src="assets/logo_hamburgueria.png" alt="No Ponto Logo" class="ml-5 h-20 object-contain hover:scale-105 transition-all duration-200" />
    <button class="px-7 h-12 border border-white rounded-full flex justify-center items-center gap-2 hover:text-[#571108] hover:bg-white transition-all duration-250 cursor-pointer">
      <span>Contato pelo WhatsApp</span>
      <i class="fa-brands fa-whatsapp"></i>
    </button>
  </div>
  <div class="w-full flex justify-center">
    <div class="w-[60%]">
      <ul class="flex h-full items-center justify-center gap-10">
        <li (click)="scrollToSection(`home`)">
          <item-nav-menu title="Home"></item-nav-menu>
        </li>

        <li (click)="scrollToSection(`sobre`)">
          <item-nav-menu title="Sobre nós"></item-nav-menu>
        </li>

        <li (click)="scrollToSection(`cardapio`)">
          <item-nav-menu title="Cardápio"></item-nav-menu>
        </li>

        <li (click)="scrollToSection(`contato`)">
          <item-nav-menu title="Entre em contato"></item-nav-menu>
        </li>
      </ul>
    </div>
  </div>
</div>

  <!-- MOBILE -->
<div class="md:hidden w-full flex items-center justify-between px-4 py-3 bg-[#571108] text-gray-50">

  <img 
    src="assets/logo_hamburgueria.png" 
    alt="No Ponto Logo"
    class="h-12 object-contain"
  />

  <button class="text-2xl">
    <i class="fa-solid fa-bars"></i>
  </button>

</div>
