<div class="w-full h-fit relative" id="home">
  <button
    (click)="scrollToSection(`home`)"
    class="fixed cursor-pointer bottom-6 right-6 z-50 bg-amber-500 text-black p-3 rounded-full shadow-lg hover:bg-amber-400 hover:scale-110 transition-all duration-300"
  >
    <i class="fa-solid fa-arrow-up"></i>
  </button>
  <img
    src="assets/fundo_principal.png"
    alt="Hamburguer artesanal"
    class="object-cover w-full h-[700px]"
  />
  <div class="absolute inset-0 bg-black/80 flex items-center px-10">
    <div class="w-full flex flex-col lg:flex-row h-[70%] items-center justify-around">
      <div class="max-w-2xl">
        <h1 class="text-5xl md:text-6xl lg:text-7xl font-extrabold text-amber-400 leading-tight">
          O HAMBÚRGUER <br />
          PERFEITO EXISTE.
        </h1>

        <h2 class="text-lg md:text-xl text-gray-200 font-medium">
          Sabor artesanal, ingredientes selecionados e preparado <br />
          exatamente no ponto certo.
        </h2>
      </div>

      <div class="w-[320px] justify-center">
        <button
          class="group px-12 h-20 border border-amber-400 text-amber-400 rounded-full flex justify-center items-center gap-2 hover:text-[#571108] hover:bg-amber-400 transition-all duration-300 cursor-pointer active:text-[#571108] active:bg-amber-400"
          (click)="scrollToSection(`cardapio`)"
        >
          <i
            class="fa-solid fa-utensils transition-all duration-300 group-hover:-translate-x-1"
          ></i>

          <span>Acesse nosso cardápio</span>

          <i
            class="fa-solid fa-arrow-right transition-all duration-300 group-hover:translate-x-1"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
