@if (isLoaded) {
  <div>
    <main-session></main-session>

    <about-session></about-session>

    <menu-session></menu-session>
  </div>
}

@if (!isLoaded) {
  <div
    class="fixed inset-0 bg-[#120A08] flex items-center justify-center z-[9999] transition-opacity duration-700"
  >
    <div class="flex flex-col items-center gap-4">
      <img src="assets/logo_hamburgueria.png" class="w-36 animate-pulse" />

      <span class="text-white text-sm tracking-widest"> CARREGANDO... </span>
    </div>
  </div>
}
